# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
*/build
*/libs
*/.gradle

# gradle
build
libs
.gradle
/.gradle-user-home-*/
/.gradle-user-home*/

# other
eclipse
run

# Forge README
/*.txt
